/* body */
body{
    font-family: arial,Microsoft YaHei,tahoma,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
/* top */
.top{
    background-color: #000000;
}
.top .bg-light1{
    background-color: #000;
}
.navbar{
    width: 1190px;
    margin: 0 auto;
}
.navbar-expand-lg{
    height: 30px;
    width: 1190px;
    margin: 0 auto;
}

.navbar-light .navbar-brand {
    color: #fff
}
.navbar-brand{
    font-size: 12px
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 12px;
}
.navbar-light .navbar-text{
    color: #fff;
    font-size: 12px;
}

/* search */
.search{
    background-color: #fff;
}
.search .navbar{
    padding: 0;
    height: 84px;
    justify-content: space-between;
}
.search .bg-light2{
    background-color: #fff;
}
.bg-light2 a{
    height: 36px;
}
.search .form-control{
    width: 540px;
    height: 36px;
    line-height: 34px;
    padding-left: 20px;
    font-size: 12px;
    border-radius: 0;
}
.search .form-inline button{
    width: 90px;
    height: 36px;
    border-radius: 0em;
    background-color: black;
    color: white;
    border: black;
}
.minicart{
    display: none;
}
/* 移入修改样式 */
.shopbaghover .minicart{
    display: block;
    cursor: pointer;
}
.shopbag{
    float: right;
}
.shopbagmain{
    width: 190px;
    height: 36px;
    border: 1px solid #ddd;
    background-color: #fff;
    line-height: 34px;
    font-size: 16px;
    color: #666;
    text-align: center;
}
.shopbagmain em{
    width: 18px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url("https://ssl1.sephorastatic.cn/soa/pc/images/shopping_bag.png");
}
.shopping-num {
    color: #d1152a;
    padding-left: 5px;
    padding-right: 5px;
}
/* banner */
.carousel{
    width: 1190px;
    height: 400px;
    margin: 0 auto;
}
.carousel-indicators li{
    width: 100px;
    height: 4px;
}
.carousel-indicators{
    left: 240px;
}
.carousel-control-prev{
    left: 240px;
}
.carousel-fade{
    position: relative;
}

/* 小轮播图 */
.brand-body-info{
    height: 320px;
    width: 1190px;
    margin: 0 auto;
}

.brand-body-left .carousel-indicators{
    left: 0;
}
.brand-body-left .carousel-control-prev{
    left: 0;
}
.brand-body-left .carousel{
    width: 590px;
    height: 320px;
    margin: 0;
}

/* 移入再display：block */
.carousel-control-prev, .carousel-control-next{
    width: 40px;
    height: 100px;
    background-color: rgba(0,0,0,.1);
    position: absolute;
    top:45%;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: rgba(0,0,0,.5);
}
/* nav */
.navm{
    width: 1190px;
    height: 36px;
    margin: 0 auto;
}
.navm-menu{
    float: left;
    width: 240px;
    height: 36px;
    line-height: 36px;
    background: url(https://ssl1.sephorastatic.cn/soa/pc/images/classified.png);
    background-size: 100% 100%;
    cursor: pointer;
}
.navm-menu .content-link{
    color: #fff;
    margin-left: 15px;
    font-size: 16px;
}
.navm-qu{
    min-width: 760px;
    float: left;
    height: 36px;
    line-height: 42px;
}
.navm-qu-menu{
    padding-left: 40px;
}
.navm-qu-menu li {
    margin-right: 40px;
    display: inline-block;
    position: relative;
}
.navm-qu-menu li a{
    text-decoration: none;
    color: black;
}
.search-info-content-shopping{
    position: absolute;
    right: 0;
    bottom: -33px;
}
/* 左侧菜单 */
.navm-menu-list{
    width: 240px;
    height: auto;
    float: left;
    background: #fff;
    position: relative;
}
.navm-menu-list-col{
    width: 240px;
    min-height: 320px;
    position: absolute;
    z-index: 100;
    display: none;
    height: 550px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.navm-menu-list .indexon{
    display: block;
}
.navm-menu-list-col>li{
    padding: 8px 0 9.7px 15px;
    display: block;
    background-color: #fff;
    line-height: 20px;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
}
.navm-menu-list-col>li>a{
    color: #000;
    line-height: 22px;
    font-size: 14px;
    margin-right: 10px;
    display: block;
    text-decoration: none;
    font-weight: 700;
}
.navm-menu-list-col li ul li{
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.navm-menu-list-col li ul li a{
    font-size: 12px;
    color: #8a8a8a;
    margin-right: 0;
}




/* weekly */
.weekly{
    min-width: 1190px;
    margin-top: 10px;
    overflow: hidden;
}
.weekly-info-wrap{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
.weekly-info{
    margin-left: 250px;
    height: 140px;
    display: block;
}
.weekly-info-left{
    float: left;
}
.weekly-info-left .weekly-info-right{
    width: 340px;
    height: 140px;
    display: block;
}
.weekly-info-right a{
    width: 290px;
    height: 140px;
    margin-left: 10px;
    float: left;
    display: block;
}

/* header logo */
.header{
    width: 100%;
    height: 89px;
    float: left;
}

.header .container{
    margin: auto;
    width: 1190px;
    height: 89px;

}
.header-logo{
    width: 250px;
    height: 33px;
    float: left;
}
.header-logo img{
    width: 250px;
    height: 33px;
    margin: 28px 0 0;
}




/* 尾部 */
.footer{
    width: 100%;
    border: black;
    clear: both;
}
.footer .container {
    width: 100%;
    background-color: #000;
}
.footer-declaration-content {
    width: 1190px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}
.footer-declaration-content-center {
    padding: 0 22px;
    color: #6f6f6f;
}
.footer-declaration-id {
    height: 21px;
    line-height: 21px;
    text-align: center;
}
.footer-declaration-id a {
    font-size: 14px;
}
.footer-declaration-content-center a {
    color: #6f6f6f;
    margin: 0 22px;
}
.footer-records {
    background-repeat: no-repeat;
    padding-left: 30px;
    background-image: url(https://ssl1.sephorastatic.cn/soa/pc/images/footer-redords-icon.png);
    content: "";
}

.footer-declaration-info {
    font-size: 12px;
    height: 21px;
    line-height: 21px;
}


/* container */
.container{
    width: 1190px;
}



.brand-wrap{
    margin-top: 70px;
    min-width: 1190px;
}
.brand-title{
    height: 36px;
    margin: 10px 0;
    margin-bottom: 3px;
}
.brand-title-info{
    width: 1190px;
    margin: 0 auto;
    height: 36px;
    position: relative;
}
.brangbg{
    background-image: url(https://ssl1.sephorastatic.cn/soa/pc/images/sprite_title_v2.png);
}
.brand-title-left{
    float: left;
    width: 387px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: -20px -13px;
    background-size: 100%;
}
.brand-body-info-left{
    float: left;
}
.brand-body-info-right{
    float: left;
    width: 600px;
    display: block;
    height: 320px;
    background-color: tomato;
}
/* pick */
.picks .brand-title-left{
    background-position: -20px -47px;
}
.picks-info-content{
    width: 1190px;
    height: 310px;
    margin: 0 auto;
}
.picks-info-content-list {
    width: 590px;
    height: 300px;
    display: inline-block;
    background-color: rgb(67, 195, 204);
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}
.picks-info-content-list {
    width: 590px;
    height: 300px;
    display: inline-block;
    background-color: rgb(67, 195, 204);
    margin-right: 5.57px;
    margin-bottom: 10px;
    position: relative;
}
.picks-info-content .picks-info-content-list-double{
    margin-right: 0;
}
.picks .brand-body-info{
    height: 310px;
}




/* 右侧固定栏 */
.fixedtop-content{
    right: 104.5px;
    position: fixed;
    z-index: 1000;
    bottom: 60px;
}
.fixedtop-content li{
    height: 40px;
    width: 40px;
}
.fixedtop-content li a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #aaaaaa;
}
.fixedtop-content li a em{
    width: 40px;
    height: 40px;
    display: block;
    float: right;
}
.fixedtop-content li a .toolbar_text{
    float: left;
    display: none;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.sprite_toolbar{
    background-image: url(https://ssl1.sephorastatic.cn/soa/pc/images/sprite_toolbar_new.png);
    background-position: 0 -40px;
}





/* product */
.crumbs {
    float: left;
    width: 100%;
    margin: 26px 0;
}
.crumbs>div {
    font-size: 12px;
    float: left;
    margin-right: 8px;
    color: #666;
}


/* 商品信息 */
.p-container{
    margin: 0 auto;
    width: 1190px;
}
.imgBig{
    display: none;
}
.productimg{
    float: left;
    width: 320px;
    height: 400px;
    background-color: blue;
}
.imgOrVideo{
    float: left;
    width: 320px;
    height: 320px;
    position: relative;
    margin-bottom: 30px;
}
.imgOrVideo img {
    width: 320px;
    height: 320px;
    float: left;
}
.imgChange{
    float: left;
    width: 320px;
    height: 50px;
    margin-top: 30px;
    background-color: brown;
}
.imgChange .picture img{
    width: 50px;
    height: 50px;
}
.product-info{
    float: left;
    width: 830px;
    margin-left: 40px;
    background-color: cornflowerblue;
}
.product-info title{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.testbox h1 {
    font-weight: 500;
    width: 100%;
    float: left;
    letter-spacing: 1px;
    font-size: 20px;
    color: #000;
}
.testbox{
    position: relative;
}
.testbox>p:first-of-type {
    margin-top: 8px;
    font-size: 14px;
    color: #000;
}
.testbox>p:nth-of-type(2) {
    margin-top: 12px;
    font-size: 12px;
    color: #666;
}
.testbox .logo{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.price-info{
    float: left;
    width: 100%;
    height: 24px;
    margin-top: 19px;
}
.p-title{
    margin-top: 3px;
    color: #666;
    font-size: 12px;
    float: left;
}
.price-info .price{
    color: #000;
    font-size: 24px;
    float: left;
    margin-left: 40px;
    line-height: 24px;
}
.activity {
    float: left;
    width: 830px;
    margin-top: 15px;
    border-bottom: 1px solid #ddd;
    background-color: darkkhaki;
    position: relative;
}
.activity .mainList {
    float: left;
    margin-left: 40px;
    margin-bottom: 10px;
}
.activity .mainList>li {
    width: 640px;
    margin-bottom: 10px;
    position: relative;
}
.capacity {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.capacity>p.title {
    float: left;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}
.capacity>.boxList {
    float: left;
    width: 600px;
    margin-left: 40px;
}
.capacity>.boxList>li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 92px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}
.capacity>.boxList>li.outOfStock {
    color: #b0b0b0;
    background-color: #f5f5f5;
}
.capacity>.boxList>li.now {
    color: #000;
    box-shadow: inset 0 0 0 2px #000;
}
.capacity>.boxList>li.normal {
    color: #333;
    box-shadow: inset 0 0 0 1px #ddd;
}
.p-num{
    float: left;
    width: 100%;
    margin-top: 20px;
    background-color: cyan;
}
.p-num .num{
    float: left;
    width: 68px;
    height: 39px;
    margin: 0 20px 0 64px;
    border: 1px solid #ddd;
}
.fourButton {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.fourButton>.noNumber {
    float: left;
    width: 64px;
    height: 41px;
}
.fourButton>.addCartButton {
    float: left;
    margin-right: 10px;
    width: 175px;
    height: 40px;
}
.fourButton>.addCartButton.yes {
    background-color: #e00;
    cursor: pointer;
}
.addCartButton>p {
    float: left;
    margin-left: 35px;
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
}
.addCartButton>.icon {
    width: 16px;
    height: 21px;
    background-position: -24px -16px;
    float: left;
    margin: 10px 0 0 9px;
}